extends baseEmail

block content
  p Olá #{firstName},
  p Bem-vindo à People Core! 🎉
  p Sua conta foi criada com sucesso. Abaixo estão suas credenciais de acesso:

  p
    strong Email: 
    | #{email}
  p
    strong Senha temporária: 
    code= password

  p Por favor, guarde aquesta senha com segurança. Você pode alterá-la após fazer o login.

  table.btn.btn-primary(role='presentation' border='0' cellpadding='0' cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation' border='0' cellpadding='0' cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Acessar Plataforma

  p Se tiver alguma dúvida ou precisar de ajuda, entre em contato com o departamento de RH.
  p - Equipe People Core
